<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <span class="navbar-brand" style="margin-left: 50px;">Rails Simple Shop</span>
       <span class="navbar-brand" style="margin-left: 50px;"><a href="/admin">Admin</a></span>
    </div>
    </div>
  </div>
</nav>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<div class="container">
  <div class="row">
    <% @products.each do |product| %>
        <div class="col-md-4">
          <div class="ui card">
            <div class="image">
              <%= image_tag product.image %>
            </div>
            <div class="content">
              <a class="header"><%= product.name %></a>
              <div class="meta">
                <span class="date">Published in <%= product.year %></span>
              </div>
              <div class="description">
                <%= product.description %>
              </div>
            </div>
            <div class="extra content">
              <a>
                <i class="user icon"></i>
                $<%= product.price %>
              </a>
            </div>
          </div>
        </div>
    <% end %>
  </div>

</div>